<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <!-- Password instructions -->
        <p>Password must meet the following criteria:</p>
        <ul>
            <li>Minimum length of 8 characters</li>
            <li>At least one special character (!@#$%^&*(),.?-_":{}|<>)</li>
            <li>At least one uppercase letter</li>
            <li>At least one numeric digit</li>
        </ul>
        <!-- End of password instructions -->
        
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>

